/* line 17, ../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }
q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/******************************
** Your styles
******************************/
html { height: 100%;  background: #0074c5 url(../media/splash/splash_en.png) no-repeat center; background-size:contain; }
body { height: 100%;  background: url(../media/splash/page.png) no-repeat top right; color: #fff; text-align: center; font-size: 100%; font-weight: 200; font-family: sans-serif; line-height: 1.48; }
a { color: #fff; text-decoration: none; font-size: 0.9em; padding:0.5em 0.25em; }
#splash { position: absolute; top:0; left:0; width:100%; height: 100%; z-index: 100; }
#splash #arrow { background: url(../media/splash/arrow_forward.png) bottom right no-repeat; width:32px; height: 32px; background-size:cover; position: absolute; bottom:1em; right:1em; }
#log { font-size: 0.9em; }